---
title: Jose Torres
symname: jose
permalink: team/jose/
name: Jose Torres
position: Co-founder and CEO
twitter: TonyTaj

---
{% block mini_bio %}
<p>
    Jose Torres is an artist who combines his creative vision with innovative
    technologists to challenge assumptions and architect new experiences that
    inspire people to explore, create, and have fun.
</p>
{% endblock %}
{% block bio %}
<p>
    Jose Torres is an artist who combines his creative vision with innovative
    technologists to challenge assumptions and architect new experiences that
    inspire people to explore, create, and have fun.
</p>

<p>
    Jose leads the charge at REFLX Labs, rallying and directing the team as the
    co-founder and CEO. He works closely with the development and deployment of
    technologies produced at the company and oversees a team of engineers,
    scientists, and creative professionals.
</p>

<p>
With over 15 years experience as an entrepreneur, Jose has successfully commercialized his art and provided creative expertise to top-tier consumer brands and Fortune 500 companies. His work spans directing, designing, and producing in multimedia and multi-platform applications.
</p>

<p>
Jose enjoys painting to balance the pressures of the business world. His art covers a wide range of styles including cityscapes, still life paintings, abstract prints and innovative mixed media, all with the distinct influence of his early years in New York City and his longstanding ties to the Pacific Northwest.
</p>

<p>
Jose graduated Cum Laude with a B.F.A. in Design from Cornish College of the Arts. He pursued business with direct sales of his work and co-founded several startups.
</p>
{% endblock %}
{% block question_application %}
<p>
"Boogibots!"
</p>
{% endblock %}
