---
title: Giovanni Nino
symname: giovanni
permalink: team/giovanni/
name: Giovanni Nino
position: Co-founder and CTO

---
{% block mini_bio %}
<p>
    Giovanni is a multi-disciplinary engineer that likes to design and build
    efficient and novel systems. He takes different technologies and re-combine
    them in new unchartered ways.
</p>
{% endblock %}
{% block bio %}
<p>
    Giovanni is a multi-disciplinary engineer that likes to design and build
    efficient and novel systems. He takes different technologies and re-combine
    them in new unchartered ways.
</p>

<p>
    With a diverse background in mechanical, aerospace, and manufacturing
    engineering, Giovanni leads all aspects of REFLX Labs' technological
    development as well as intellectual property strategies. He is the liaison
    between REFLX Labs and Quest Integrated Inc. (Qi2). Qi2 is the hardware
    engineering arm of REFLX Labs, where Giovanni acts as Director Composites
    R&amp;D.
</p>

<p>
    Giovanni has worked as airplane maintenance engineer, assistant professor, and researcher for different R&D companies in the U.S. and Europe. He has expertise in composite structures, multi-functional materials and structures, thermal efficient structures, structural health monitoring, additive manufacturing, and human instrumentation. Giovanni holds 10 patents and patents pending.
</p>

<p>
    After commuting between Seattle and Amsterdam for several years and experiencing all types of delays, Giovanni still has love for airplanes and air travel. He never stops looking through the window and wondering how beautiful these machines fly!
</p>

<p>
    Giovanni graduated  Summa Cum Laude in Mechanical Engineering at the National University of Colombia, received a master's degree in Aerospace Engineering from the Georgia Institute of Technology, and earned his Ph.D. from Delft University of Technology in the Netherlands.
</p>
{% endblock %}
