---
title: Brett Canfield
symname: brett
permalink: team/brett/
name: Brett Canfield
position: CFO
linkedin: http://www.linkedin.com/pub/brett-canfield/8/221/4b6

---
{% block mini_bio %}
<p>
    Brett Canfield is a serial entrepreneur with a background in brand management, supply chain management, technology, and distribution systems.
</p>
{% endblock %}
{% block bio %}
<p>
    Brett Canfield is a serial entrepreneur with a background in brand management, supply chain management, technology, and distribution systems.
</p>

<p>
    As CFO of REFLX Labs, Inc., Brett's the strategist behind creating growth models and determining the optimal business models for the company's industry and resources.
</p>

<p>
    Brett has 20 years of experience in launching startups, managing brands, managing technology changes, and creating distribution and supply chain systems. In working with companies such as REI, Hasbro, and Amazon.com, Brett has implemented large-scale branding, supply chain, and process implementations. Brett is also a successful entrepreneur. He has built two businesses to over $2m in annual revenue and been profiled in the Entrepreneur section of Forbes magazine.
</p>

<p>
    After living growing up in Denver, attending university in Tacoma, WA, and living overseas in Russia, Brett moved to Seattle to work for Wizards of the Coast and has been there ever since. Still, he has the travel bug and would like to go to Morocco, Turkey, Japan, Croatia, Portugal, and South Africa.
</p>

<p>
    Brett has a B.A. in Economics with a minor in Russian Language from University of Puget Sound. Brett's possesses a master's degree in business from University of Washington. He has been a guest speaker at several university MBA programs and a member of the Young Entrepreneurs Organization.
</p>
{% endblock %}
{% block question_application %}
<p>
    "One where I can switch in between running and cycling seamlessly and get accurate data from both activities."
</p>
{% endblock %}

