---
title: Beau Simensen
symname: beau
permalink: team/beau/
name: Beau Simensen
position: Chief Software Architect
twitter: beausimensen
github: simensen

---
{% block mini_bio %}
<p>
    Beau Simensen enjoys exploring the convergence of creativity and technology.
</p>
{% endblock %}
{% block bio %}
<p>
    Beau Simensen enjoys exploring the convergence of creativity and technology.
</p>

<p>
    As Chief Software Architect at REFLX Labs, he is responsible for defining the direction for REFLX's software projects.
</p>

<p>
    Beau has over 15 years of polyglot software experience. Working mostly as a freelance developer over the last decade, he is also active in the open-source community.
</p>

<p>
    After living in Seattle for many years Beau set off for the midwest with his wife and son to spend time with their families. While the future is always unclear, there is a strong call back to the west coast.
</p>
{% endblock %}
{% block question_application %}
<p>
"I'd love to see an app for runners by runners to help each other tune their running so they can either improve their performance or avoid injuries."
</p>
{% endblock %}
