---
title: Jonathan Chiquette
symname: jonathan
permalink: team/jonathan/
name: Jonathan Chiquette
position: VP, User Experience
twitter: xsive1
linkedin: http://www.linkedin.com/in/jonathanchicquette/

---
{% block mini_bio %}
<p>
    Jonathan Chicquette lives and breathes user experience as it applies to all things with which humans interact.
</p>
{% endblock %}
{% block bio %}
<p>
    Jonathan Chicquette lives and breathes user experience as it applies to all things with which humans interact.
</p>

<p>
    As the Vice President of Human Experience Design at REFLX Labs, Jonathan focuses on what makes our products intrinsically appealing to our customers.
</p>

<p>
    Jonathan has over 20 years of experience in branding, marketing and design. Finding himself right at home in the fast pace of the startup community and just as comfortable providing high level inspiration and support as a board member.
</p>

<p>
    Arriving in Seattle over 30 years ago, Jonathan has made the ever-vibrant Seattle his home.
</p>
{% endblock %}
{% block question_application %}
<p>
    "I'd like to see Boogio standardize a combined metric for heart rate and speed of movement. That would be extremely helpful information for individuals who want to measure, improve, and maintain healthful daily activities."
</p>
{% endblock %}
