---
title: Liz Hardy
symname: liz
permalink: team/liz/
name: Liz Hardy
position: Director of Communications
linkedin: http://www.linkedin.com/in/lizhardy

---
{% block mini_bio %}
<p>
    Liz Hardy loves storytelling and using stories to help clients and companies connect with their customers.
</p>
{% endblock %}
{% block bio %}
<p>
    Liz Hardy loves storytelling and using stories to help clients and companies connect with their customers.
</p>

<p>
    As Director of Communications at REFLX Labs, she helps spread the word about the company through social media, web, and traditional media outlets.
</p>

<p>
    Liz has over 20 years of experience in the software, web, and mobile industries, working with companies such as AT&amp;T, Nordstrom, REI, T-Mobile, RealNetworks, and more. She also has a successful freelance content strategy business, and from writing and editing, to project management and organizational development, Liz knows how to wear a lot of hats at once.
</p>

<p>
    After living throughout the U.S. and overseas, Liz moved to Seattle for college and has been here ever since. She still has the travel bug and always has a trip to some far-flung destination in the works.
</p>

<p>
    Liz has a B.A. in English and a B.A. in Geography from the University of Washington. She also holds multiple technical certificates from the University of Washington Extension and is certified in project management from the Project Management Institute.
</p>
{% endblock %}
{% block question_application %}
<p>
    "I'd love to see an application that joins old-fashioned outdoor play with game consoles to help kids stay active through imaginative, interactive play."
</p>
{% endblock %}
