---
title: Nate Shortsleeve
symname: nate
permalink: team/nate/
name: Nate Shortsleeve
position: Lead Software Engineer
twitter: nateshortsleeve
linkedin: http://www.linkedin.com/pub/nate-shortsleeve/26/180/675

---
{% block mini_bio %}
<p>
    Nate Shortsleeve researches novel applications for wearable devices and services.
</p>
{% endblock %}
{% block bio %}
<p>
    As a software engineer, Nate Shortsleeve's chief responsibility is enabling users and developers to easily interface with our products. I'm also involved in researching novel applications for wearable devices and services.
</p>

<p>
    After college, Nate spent two years working as a platform engineer for HeroEngine in Germantown, Maryland. From there, he moved to Seattle and started working with REFLX Labs. If anyone has the time, Nate recommends driving across the country. It's an amazing experience!
</p>

<p>
    Nate is one a growing number of people known as makers. Makers are a blend of hobbyist inventors and handypersons. A lot of what he does involves solving problems using research, hardware, and software, along with plenty of trial and error.
</p>

<p>
    Nate earned an A.A. degree from Santa Fe College in 2007 and graduated with a B.S. in Computer Science from The University of Florida in 2010.
</p>
{% endblock %}
{% block question_application %}
<p>
    "I want someone who has no idea how it works, no interest in how it works, to be able to use it effectively and accurately. Good technology is powerful and invisible."
</p>
{% endblock %}
