---
title: Dan Herda
symname: dan
permalink: team/dan/
name: Dan Herda
position: Assistant Marketing Manager
twitter: HerdaDan

---
{% block mini_bio %}
<p>
    Dan Herda has a background in journalism and enjoys finding new and creative ways to tell stories and share ideas.
</p>
{% endblock %}
{% block bio %}
<p>
    Dan Herda has a background in journalism and enjoys finding new and creative ways to tell stories and share ideas.
</p>

<p>
    Whether it's updating our social media accounts or keeping up with the latest trends and news in the wearable industry, Dan has a slew of marketing and communications responsibilities at REFLX Labs.
</p>

<p>
    Prior to REFLX Labs, Dan worked at KING-5 TV for Evening Magazine and New Day Northwest as an intern and a freelance Associate Producer.
</p>

<p>
    Dan Grew up in Bellingham Washington and spent most of childhood playing hockey, baseball, and swimming in Lake Whatcom. He moved to Seattle in 2009 to attend the University of Washington, and graduated in 2013 with a degree in Communications.
</p>
{% endblock %}
