---
layout: default
use:
    - press_releases
---
{% block jumbo %}
    <section class="jumbo">
        <h1 class="ir">REFLX Labs</h1>
    </section>
{% endblock %}

{% block content %}
<div class="index-page">
    <div class="tagline">
        <span>Expression Through Action</span>
    </div>

    <p>
        Pioneered in Seattle.
    </p>

    <div class="social-media">
        <ul class="nav nav-pills">
            <li><a title="@reflxlabs" href="https://twitter.com/reflxlabs"><i class="icon icon-twitter"></i></a></li>
            <li><a title="REFLX Labs on Google+" rel="publisher" href="https://plus.google.com/114921977629548572373"><i class="icon icon-google-plus"></i></a></li>
            <li><a title="@reflxlabs" href="http://www.linkedin.com/company/reflx-labs-inc-"><i class="icon icon-linkedin"></i></a></li>
        </ul>
    </div>

    <p>
        <br>
        <br>
        {% for pr in data.press_releases[:1] %}
            <a  href="{{ pr.url }}">{{ pr.title }}</a>
        {% endfor %}
        <br>
        <br>
        <br>
    </p>
</div>
{% endblock %}
