---
layout: default
---
{% block primary_navigation %}{% endblock %}
{% block jumbo %}
    <section class="jumbo">
        <h1 class="ir">REFLX Labs</h1>
    </section>
{% endblock %}

{% block content %}
<div class="index-page">
    <div class="tagline">
        <span>Expression Through Action</span>
    </div>

    <p>
        We'll be at <a title="CES" href="http://www.cesweb.org/">CES 2014</a>. Will you?
    </p>

    <p>
        Pioneered in Seattle.
    </p>

    <div class="social-media">
        <ul class="nav nav-pills">
            <li><a title="@reflxlabs" href="https://twitter.com/reflxlabs"><i class="icon icon-twitter"></i></a></li>
            <li><a title="@reflxlabs" href="http://www.linkedin.com/company/reflx-labs-inc-"><i class="icon icon-linkedin"></i></a></li>
        </ul>
    </div>

    <p>
        <br>
        <br>
        <strong>October 28th, 2013</strong><br>
        <a title="REFLX Labs debuts Boogio wearable technology at SIC 2013 (10/28/2013)" href="http://reflxlabsinc.com/press/2013/10/28/REFLX_Boogio_PressRelease_102813/">REFLX Labs debuts Boogio wearable technology at SIC 2013</a>
        <br>
        <br>
        <br>
    </p>
</div>
{% endblock %}
