---
layout: default
---
{% block jumbo %}
    <section class="jumbo">
        <h1 class="ir">REFLX Labs</h1>
    </section>
{% endblock %}

{% block content %}
<div class="index-page">
    <div class="tagline">
        <span>Expression Through Action</span>
    </div>

    <p>
        See our first product, <a title="Boogio" href="http://boogio.com">Boogio</a>, at the <a title="Seattle Interactive Conference" href="http://www.seattleinteractive.com">Seattle Interactive Conference</a> from October 28-30.
    </p>

    <p>
        Pioneered in Seattle.
    </p>

    <div class="social-media">
        <ul class="nav nav-pills">
            <li><a title="@reflxlabs" href="https://twitter.com/reflxlabs"><i class="icon icon-twitter"></i></a></li>
            <li><a title="@reflxlabs" href="http://www.linkedin.com/company/reflx-labs-inc-"><i class="icon icon-linkedin"></i></a></li>
        </ul>
    </div>
</div>
{% endblock %}
