---
layout: default
title: Press
use:
    - press_releases
assets:
    reflx:
        logos:
            - { url: reflxlabs-color.png, thumb: reflxlabs-color-thumb.png }
            - { url: reflxlabs-bw.png, thumb: reflxlabs-bw-thumb.png }

    boogio:
        logos:
            - { url: boogio-color.png, thumb: boogio-color-thumb.png }
            - { url: boogio-bw.png, thumb: boogio-bw-thumb.png }
        marketing_materials:
            - { url: boogio-concept.jpg, thumb: boogio-concept-thumb.png }
            - { url: boogio-moves.png, thumb: boogio-moves-thumb.png }

---
<h1>Press Releases</h1>

<ul>
    {% for pr in data.press_releases %}
        <li>
            <a title="{{ pr.title }}" href="{{ pr.url }}">{{ pr.title }}</a>
        </li>
    {% endfor %}
</ul>

<h2>Press Kit</h2>
<h4>REFLX Labs Logos</h4>

{% include "asset_collection" with {"assets": page.assets.reflx.logos} %}

<h4>Boogio Logos</h4>
{% include "asset_collection" with {"assets": page.assets.boogio.logos} %}

<h4>Boogio Concept Artwork</h4>
{% include "asset_collection" with {"assets": page.assets.boogio.marketing_materials} %}

<h4>Boogio Media</h4>
<p>
    See <a href="http://boogio.com/media/">Boogio's media page</a> for Boogio related videos and other media.
</p>

